<!DOCTYPE html>
<html>
    <head>
        <meta charset= "utf-8">
        <title>mercado liebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">

    </head>
   
    <body>  
        
    <header>
        <img src="/images/logo-mercado-liebre.svg" width="250" alt="MERCADO LIEBRE">
        <div class='imput'><p>Lugar para poner la barra de búsqueda</p></div>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <p></p>
        <ul type="square">
            <li><a>Ofertas</a></li>
            <li><a>Tiendas Oficiales</a></li>
            <li><a>Vender</a></li>
            <li><a>Ayuda</a></li>
        </ul>
        <div></div>
        <ul type="square">
            <li><a>Creá tu cuenta</a></li>
            <li><a>Ingresá</a></li>
            <li><a>Mis compras</a></li>
        </ul>
        <img src="/images/img-home-banner.jpg" width="390" alt="banner">
    </header>

        <section>
            <p><h2>Basado en tu última visita</h2></p>
            <img src="/images/img-cafetera-moulinex.jpg" width="300" alt="imagen de la cafetera">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p><h3>Cafetera Moulinex</h3></p>
            <div></div>
            <img src="/images/img-macbook-pro-2019.jpg" width="300" alt="imagen MacbookPro">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p><h3>Macbook Pro</h3></p>
            <div></div>
            <img src="/images/img-samsung-galaxy-s10.jpg" width="300" alt="imagen sansung s10">
            <p>$70.500</p>
            <p>10% OFF</p>
            <p><h3>Sansung Galaxy S10</h3></p>
            <div></div>
            <img src="/images/img-tv-samsung-smart.jpg" width="300" alt="imagen smart tv sansung">
            <p>$23.200</p>
            <p>5% OFF</p>
            <p><h3>SmartTV Sansung 43"</h3></p>
            <div></div>
        </section>
        <section>
                <p><h2>Ofertas</h2></p>
                <img src="/images/img-cafetera-moulinex.jpg" width="300" alt="imagen de la cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><h3>Cafetera Moulinex</h3></p>
                <div></div>
                <img src="/images/img-macbook-pro-2019.jpg" width="300" alt="imagen MacbookPro">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><h3>Macbook Pro</h3></p>
                <div></div>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="300" alt="imagen sansung s10">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><h3>Sansung Galaxy S10</h3></p>
                <div></div>
                <img src="/images/img-tv-samsung-smart.jpg" width="300" alt="imagen smart tv sansung">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><h3>SmartTV Sansung 43"</h3></p>
                <div></div>
            </section>
            <footer>
                <p><h3>Pagá con tarjeta de crédito o efectivo</h3></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                    <div></div>
                <p><h3>Envío gratis desde $ 2.500</h3></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                    <div></div>
                <p><h3>Seguridad, de principio a fin</h3></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                    <div></div>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                <div></div>

            </footer>
    </body>

</html>